# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
#fontawesome
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=B6C0D97D-805B-46CB-8067-8B14A89CBF9C
